<div class="form-container">
  <div class="titulo">
    <h2>CADASTRO DE CLIENTES</h2>
  </div>

  <form>
    <div class="row">
      <div class="col">
        <label>Nome:</label>
        <input type="text" placeholder="Digite o nome completo" />
      </div>
    </div>

    <div class="row">
      <div class="col-2x">
        <label>Endereço:</label>
        <input type="text" placeholder="Rua, avenida..." />
      </div>
      <div class="col-small">
        <label>Nº:</label>
        <input type="text" placeholder="Número" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Bairro:</label>
        <input type="text" placeholder="Bairro" />
      </div>
      <div class="col">
        <label>Cidade:</label>
        <input type="text" placeholder="Cidade" />
      </div>
      <div class="col-small">
        <label>CEP:</label>
        <input type="text" placeholder="00000-000" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>CPF:</label>
        <input type="text" placeholder="000.000.000-00" />
      </div>
      <div class="col">
        <label>Identidade:</label>
        <input type="text" placeholder="00000000-00" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Telefone:</label>
        <input type="tel" placeholder="(99) 99999-9999" />
      </div>
      <div class="col">
        <label>E-mail:</label>
        <input type="email" placeholder="exemplo@email.com" />
      </div>
    </div>

    <div class="row center">
      <button type="submit">Cadastrar</button>
    </div>
  </form>
</div>
