<nav class="menu-lateral">
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="ativo">Dashboard</a></li>
    <li><a routerLink="/clientes" routerLinkActive="ativo">Clientes</a></li>
    <li><a routerLink="/profissionais">Profissionais</a></li>
    <li><a routerLink="/fornecedores">Fornecedores</a></li>
    <li><a routerLink="/produtos">Produtos</a></li>
    <li><a routerLink="/salas">Salas</a></li>
    <li><a routerLink="/graficos">Gráficos</a></li>
    <li><a routerLink="/estoque">Estoque</a></li>
  </ul>
</nav>